<div class="container">
  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">Bài Viết</h3>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            href="https://goixegiare.pro.vn/post/dong-nai/grab-dong-nai"
            class="footer__link"
            >Grab Đồng Nai</a
          >
        </li>
        <li>
          <a
            href="https://goixegiare.pro.vn/post/grab-long-an"
            class="footer__link"
            >Grab long An</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://goixegiare.pro.vn/post/grab-ba-ria"
            class="footer__link"
            >Grab Bà Rịa VT</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://goixegiare.pro.vn/post/sai-gon/grab-sai-gon"
            class="footer__link"
            >Grab Sài Gòn</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">help</h3>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            rel="nofollow"
            href="https://grab.com.vn"
            class="footer__link"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="nofollow"
            href="https://grab.com.vn"
            class="footer__link"
            >FAQ</a
          >
        </li>
        <li>
          <a href="tel:0393018302" class="footer__link"
            >Thiết kế bởi Tạo Nguyễn</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">Thông Tin Liên Hệ</h3>
      <ul class="footer__list">
        <li>
          <a href="tel:0559439469" class="footer__link"
            >Hotline: 0559 439 469</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link">
            Adress : 681 bui văn hoa street,bien hoa city ,Đong Nai,VietNam
            country
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="http://goixegiare.pro.vn"
            class="footer__link"
            >website:goixegiare.pro.vn</a
          >
        </li>
        <li>
          <a href="mailto:nguyenhuutaonyc@gmail.com.vn" class="footer__link"
            >Email:nguyenhuutaonyc@gmail.com.vn</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo d-flex">
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h2 class="logo__title">
            <a target="_blank" href="http://goixegiare.pro.vn"
              >GOIXEGIARE.PRO.VN</a
            >
          </h2>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-email">
          <input
            type="email"
            class="footer__form-input btn--rounded btn"
            placeholder="Email Adress"
          />
          <button class="footer__form-submit btn--rounded btn btn--primary">
            Send
          </button>
        </div>
        <label for="" class="footer__label"
          >Tiết kiệm 10% khi đặt trước khứ hồi</label
        >
      </form>
      <div class="footer__social">
        <a
          rel="nofollow"
          target="_blank"
          href="https://facebook.com/grab.bien.hoa.2023"
          class="footer__social-link"
        >
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/facebook.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.tiktok.com"
          class="footer__social-link"
        >
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/tiktok.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.linkedin.com"
          class="footer__social-link"
        >
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/linkedin.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.instagram.com"
          class="footer__social-link"
        >
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/instagram.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.twitter.com"
          class="footer__social-link"
        >
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/twitter.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.youtube.com"
          class="footer__social-link"
        >
          <img
            src="https://goixegiare.pro.vn/assets/image/icon/youtube.png"
            alt=""
            class="footer__social-icon"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">
      © 2010 - 2025 goixegiare.pro.vn . All rights reserved.
    </p>
  </div>
</div>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Gọi xe Grab Đồng Nai",
    "image": "https://goixegiare.pro.vn/assets/image/thumb/slider/slider01.jpg",
    "@id": "https://goixegiare.pro.vn",
    "url": "https://goixegiare.pro.vn",
    "telephone": "+84393018302",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "681 Đường Bùi Văn Hòa,Kp7,long Bình",
      "addressLocality": "Biên Hòa",
      "postalCode": "810000",
      "addressCountry": "Việt Nam"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 10.919572,
      "longitude": 106.883266
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    },
    "sameAs": "https://goixegiare.pro.vn"
  }
</script>
