<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="https://goixegiare.pro.vn/assets/image/thumb/post/post09.jpg"
      alt="Grab Thuận An"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixegiare.pro.vn/post/binh-duong/grab-thuan-an"
      >Dịch vụ tư vấn và đặt xe grab Thuận An</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Thuận An bình dương,dịch vụ tư vấn và gọi grab xe máy ,grab taxi,grab
    giao hàng.Dịch vụ đặt xe số 1 tại Bình dương.Tham khảo giá,tư vấn,gọi xe chỉ
    với 1 click.
  </p>
  <button class="viewpost__btn btn--rounded btn btn--primary">
    <a href="https://goixegiare.pro.vn/post/binh-duong/grab-thuan-an"
      >Đọc Bài Viết</a
    >
  </button>
</section>
