<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="https://goixegiare.pro.vn/assets/image/thumb/post/post07.jpg"
      alt="Grab Xuân Lộc"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixegiare.pro.vn/post/dong-nai/grab-xuan-loc"
      >Dịch vụ tư vấn và đặt xe Grab Xuân Lộc</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Xuân Lộc Đồng Nai,dịch vụ tư vấn và gọi grab xe máy ,grab taxi,grab
    giao hàng.Dịch vụ đặt xe số 1 tại Đồng Nai.Tham khảo giá,tư vấn,gọi xe chỉ
    với 1 chạm.
  </p>
  <button class="viewpost__btn btn--rounded btn btn--primary">
    <a href="https://goixegiare.pro.vn/post/dong-nai/grab-xuan-loc"
      >Đọc Bài Viết</a
    >
  </button>
</section>
