<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="https://goixegiare.pro.vn/assets/image/thumb/post/post13.jpg"
      alt="Grab giao hàng Biên Hòa Đồng Nai"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixegiare.pro.vn/post/grab-giao-hang-bien-hoa"
      >Grab giao hàng Biên Hòa Đồng Nai</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Biên Hòa Đồng Nai - Dịch vụ tư vấn khách hàng , tham khảo giá cả ,
    khuyến mãi , đặt trước chuyến đi.Dịch vụ đặt xe Biên Hòa Đồng Nai nhanh
    chóng - an toàn - tiết kiệm - chu đáo.
  </p>
  <button class="viewpost__btn btn--rounded btn btn--primary">
    <a href="https://goixegiare.pro.vn/post/grab-giao-hang-bien-hoa"
      >Đọc Bài Viết</a
    >
  </button>
</section>
