<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="https://goixegiare.pro.vn/assets/image/thumb/post/post03.jpg"
      alt="Grab Gia Kiệm Thống Nhất Đồng Nai"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixegiare.pro.vn/post/grab-gia-kiem-thong-nhat"
      >Grab Gia Kiệm Thống Nhất Đồng Nai:Đặt xe máy - taxi - giao hàng Thống
      Nhất Đồng Nai</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Gia Kiệm Thống Nhất Đồng Nai - Dịch vụ tư vấn khách hàng , tham khảo
    giá cả , khuyến mãi , đặt trước chuyến đi.Dịch vụ đặt xe Gia Kiệm Thống Nhất
    Đồng Nai nhanh chóng - an toàn - tiết kiệm - chu đáo.
  </p>
  <button class="viewpost__btn btn--rounded btn btn--primary">
    <a href="https://goixegiare.pro.vn/post/grab-gia-kiem-thong-nhat"
      >Đọc Bài Viết</a
    >
  </button>
</section>
